.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 670px;
    height: 70px;
    margin-left: 85px;
    margin-top: 30px;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
}

.logo {
    font-family: 'Inter';
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard */
  color: transparent;
  margin: 15px;
}

.container-btns {
    margin-left: auto;
}

.settings, .inbox {
    width: 35px;
    height: 35px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    border: 1.5px solid #CECECE;
    background-color: #fff;
}


.new-project {
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 15px;
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
    color: #fff;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
}

.settings-icon, .mail-icon{
    margin-left: -2px;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    }

.new-project:hover {
    background-color: #fff;
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* Standard */
    color: transparent;
    box-shadow: none;
    border: 1px solid #CECECE;
}

.settings:hover {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.inbox:hover {
        box-shadow: 0px 4px 15px rgba(0,0,0,0.2);

}

/* Navgivation */
.navigation-bkg {
    background-color: #fff;
    width: 670px;
    height: 110vh;
    margin-top: 110px;
    margin-left: 85px;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
}

.nav-btns {
    display: grid;
    margin-left: 28px;
    margin-top: 10px;
}
.nav-btns button {
    width: 610px;
    height: 40px;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.nav-btns button:hover {
    background-color: #F4F3F5;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

/* outline for focused button */
/*.nav-btns button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(98,101,247,0.5);
}
*/

.today-icon, .tab-icon, .folder_filled-icon, .alarm-icon {
    margin-right: 5px;
    width: 23px;
    height: 23px;
    
}



/* Container */
.container {
    display: flex;
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
    margin-top: 20px;
    width: 790px;
    height: 137vh;
    padding-right: 50px;
    position: relative;
    z-index: 1;
};

.teapot {
    width: 200px;
    height: 200px;
}

.oval {
    width: 650px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #6265F7, #A24DEC);
    position: absolute;
    filter: blur(10px);
    opacity: 5%;
    margin-left: 50px;
    margin-top: 210px;
    z-index: 3;
}

.rec-1 {
    background-color:#A24DEC;
    width: 300px;
    height: 200px;
    filter: blur(20px);
    position: absolute;
    margin-left: 60px;
    margin-top: 90px;
    z-index: 2;
}

.rec-2 {
    background-color: #6265F7;
    width: 300px;
    height: 200px;
    filter: blur(20px);
    position: absolute;
    margin-left: 500px;
    margin-top: 170px;
    z-index: 2;
}

.rec-3 {
    background-color:#A24DEC;
    width: 300px;
    height: 100px;
    filter: blur(20px);
    position: absolute;
    margin-left: 15px;
    margin-top: 370px;
    z-index: 2;
}


