.calendar-com{
    width: 580px;
    height: 380px;
    margin-left: 115px;
    top: 310px; /*use for other components*/
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;

}

.calendar-nav{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.arrow-left .arrow-right{
    border: none;
}

.month{
    margin: 20px;
}

.previous-btn, .next-btn{
    background-color: #F4F3F5;
    border-radius: 6px;
    border: none;
}

.previous-btn:hover{
    background-color:#e7e7e7;
}

.next-btn:hover{
    background-color:#e7e7e7;
}

.weekdays {
    margin-left: -25px;
}

ol {
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    gap: 57px;
}

li {
    color: #696868;
    font-family: Inter;
    font-size: 16px;
    width: 30px;
}

.days{
    color: #7e7e77;
}

.calendar-body .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
    height: 58px;
    width: 80px;
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    margin: 2px;
   
}

.calendar-day:hover {
    background-color: #e2e2e2;
}

.calendar-day.other {
    color: #cecece;
}

.calendar-day.today {
    background-image: linear-gradient(to right, #6265F7, #A24DEC);
    color: #fff;
    font-weight: bold;
}

/* Form */
.portal-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 80vh;
    align-items: center;
  justify-content: center;
    z-index: 10000;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

.new-event-form {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  /* Change from absolute to fixed */
    z-index: 9999;   /* Increase z-index */
    top: 50%;        /* Center vertically */
    left: 50%;       /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 9999;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.new-event-form h3 {
    padding-top: 50px;
}

.submit-event-btn {
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 10px;
}

.cancel-event-btn {
    background: white;
    border: 1px solid #CECECE;
    color: #686666;
    border-radius: 10px;
}