.calendar-com{
    width: 680px;
    height: 300px;
    margin-top: 250px;
    margin-left: 37px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;

}

.calendar-nav{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.arrow-left .arrow-right{
    border: none;
}

.month{
    margin: 20px;
}

.previous-btn, .next-btn{
    background-color: #F4F3F5;
    border-radius: 6px;
    border: none;
}

.previous-btn:hover{
    background-color:#e7e7e7;
}

.next-btn:hover{
    background-color:#e7e7e7;
}

.calendar-body {
    display: flex;
    justify-content: center;
    background-color: #e7e7e7;
    position: absolute;
    margin-top: 285px;
    width: 105vw;
    height: 48vh;
}

ol {
    display: flex;
    list-style-type: none;
    margin-left: -50px;
    margin-top: 5px;
    gap: 70px;
}

li {
    color: #696868;
    font-family: Inter;
    font-size: 16px;
}