.calendar-com{
    width: 580px;
    height: 380px;
    margin-top: 280px;
    margin-left: 90px;
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;

}

.calendar-nav{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.arrow-left .arrow-right{
    border: none;
}

.month{
    margin: 20px;
}

.previous-btn, .next-btn{
    background-color: #F4F3F5;
    border-radius: 6px;
    border: none;
}

.previous-btn:hover{
    background-color:#e7e7e7;
}

.next-btn:hover{
    background-color:#e7e7e7;
}

.weekdays {
    margin-left: -25px;
}

ol {
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    gap: 57px;
}

li {
    color: #696868;
    font-family: Inter;
    font-size: 16px;
    width: 30px;
}

.days{
    color: #7e7e77;
}

.calendar-body .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.calendar-day {
    height: 45px;
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    margin: 2px;
   
}

.calendar-day:hover {
    background-color: #e2e2e2;
}

.calendar-day.other {
    color: #cecece;
}

.calendar-day.today {
    background-image: linear-gradient(to right, #6265F7, #A24DEC);
    color: #fff;
    font-weight: bold;
}
