
.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 720px;
    height: 70px;
    margin-left: 15px;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
}

.logo {
    font-family: 'Inter';
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard */
  color: transparent;
  margin: 15px;
}

.container-btns {
    margin-left: auto;
}

.settings, .inbox {
    width: 35px;
    height: 35px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    border: 1.5px solid #CECECE;
    background-color: #fff;
}


.new-project {
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 15px;
    background-image: linear-gradient(to right, #6265F7,#A24DEC);
    color: #fff;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: bold;
}

.settings-icon {
    width: 10px;
    height: 10px;
}