.kanban-container {
   width: 580px;
    height: 380px;
    margin-left: 115px;
    top: 310px;
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    z-index: 6;
}

.kanban-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #808080;
    text-align: left;
}

.todo-header,
.in-progress-header,    
.review-header,
.complete-header {
   border-bottom: #808080 solid 1.5px;
   padding-bottom: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.todo-cards, 
.in-progress-cards, 
.review-cards,
.complete-cards {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow-x: hidden;
    height: 320px;
}


.todo-header {
    padding-right: 90px;
    
}

.in-progress-header {
    padding-right: 70px;
}

.review-header {
    padding-right: 80px;

}

.complete-header {
    padding-right: 70px;

}

.red-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 7px solid #D60000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orange-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 7px solid #FF9D32;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.green-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 7px solid #00A81F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.blue-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 7px solid #6265F7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

#target {
    background-color: transparent;
    border: 2px dashed #808080;
    padding: 15px;
    margin-bottom: 10px;
}