.kanban-container {
   width: 580px;
    height: 380px;
    margin-left: 115px;
    top: 310px;
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
}

.kanban-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #808080;
    text-align: left;


}

.todo-header,
.in-progress-header,    
.review-header,
.complete-header {
   border-bottom: #808080 solid 1.5px;
   padding-bottom: 10px;
   font-family: 'Inter';
}

.todo-header {
    padding-right: 90px;
    display: flex;
    flex-direction: column;
}

.todo-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.in-progress-header {
    padding-right: 70px;
}

.review-header {
    padding-right: 80px;
}

.complete-header {
    padding-right: 70px;
}