 .time-tracking-page {
    width: 580px;
    height: 380px;
    margin-left: 115px;
    top: 310px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
}