 .time-tracking-container {
    width: 580px;
    height: 380px;
    margin-left: 115px;
    top: 310px;
    padding: 15px;
    background-color: #F4F3F5;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
}